@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body, html
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body
{
    display: table;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1
{
    text-align: center;
    font-size: 50px;
    font-weight: 300;
}

h2
{
    font-weight: 300;
}

#game-center
{
    display: table;
    height: calc(100% - 300px);
    width: 900px;
    margin: 0 auto;
}

.table
{
    display: table;
}

.row
{
    display: table-row;
}

.cell
{
    display: table-cell;
}

#game-wrapper
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    column-span: 2;
}

#canvas-wrapper
{
    display: table;
    margin: 0 auto;
}

#game
{
    width: 1024px;
    height: 800px;
}

.bar-wrapper
{
    width: 450px;
    display: table-cell;
}

.bar
{
    /*transition: width 100ms;*/
    height: 30px;
}

#health-bar
{
    background-image: url(../../web/assets/interface/health.png);
}

#stamina-bar
{
    background-image: url(../../web/assets/interface/stamina.png);
}

.float
{
    float: right;
    margin-left: 20px;
}